body > div#main > div.element.auto_height {
	height: auto;
	max-height: 800px;
	overflow-y: scroll;
	padding: 10px 0px 15px 0px;
}

body > div#main > div.element div {
	display: block;
	position: relative;
}

body > div#main > div.element div * {
	display: inline;
}

body > div#main > div.element div.user {
	text-align: right;
}

body > div#main > div.element div img {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0px;
	left: 5px;
	border-radius: 50%;
	vertical-align: middle;
}

body > div#main > div.element div.user img {
	left: inherit;
	right: 5px;
}

body > div#main > div.element div p {
	display: inline-block;
	line-height: 40px;
	color: var(--white);
	font-size: 20px;
	vertical-align: middle;
}

body > div#main > div.element div p.date {
	display: inline-block;
	line-height: 10px;
	color: var(--white);
	font-size: 10px;
	vertical-align: middle;
}

body > div#main > div.element div.user p {
	display: block;
	margin-right: 60px;
}

body > div#main > div.element div.target p {
	display: block;
	margin-left: 60px;
}

body > div#main > div.element::-webkit-scrollbar {
	display: none;
}

body > div#main > div.element#dialog_input {
	height: auto;
}

body > div#main > div.element#dialog_input textarea {
	width: inherit;;
	resize: vertical;
	height: auto;
	padding: 5px;
}

body > div#main input[type = 'submit'] {
	background-color: var(--pink);
	color: var(--white);
	font-family: var(--font);
	font-size: 20px;
	height: 35px;
	width: 632px;
	border: none;
	box-shadow: var(--shadow);
	margin: 10px;
	margin-left: 44px;
}
