body > div#main > div.multi_element div.sub_element > img.profil_image {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 200px;
	border-right: solid 1px var(--grey_2);
	margin: 0;
}

body > div#main > div.multi_element div.sub_element {
	cursor: pointer;
}

body > div#main > div.multi_element div.sub_element > * {
	margin-left: 200px;
}
body > div#main > div.multi_element div.sub_element *::-webkit-scrollbar {
	display: none;
}

body > div#main > div.multi_element div.sub_element > div:not(.element_buttons) {
	margin-top: 80px;
	overflow-x: scroll;
	text-align: center;
}

body > div#main > div.multi_element div.sub_element > img.gender {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
}

body > div#main > div.multi_element a:visited div.sub_element,
body > div#main > div.multi_element a:active div.sub_element,
body > div#main > div.multi_element a div.sub_element {
	color: black;
}

body > div#main > div.multi_element > div.sub_element > div#unread {
	position: absolute;
	top: 10;
	left: 10;
	margin-top: 0;
}
