body > footer {
	z-index: 100;
	background-color: var(--grey_1);
	position: fixed;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 30px;
	box-shadow: var(--shadow);
}

body > footer > p {
	text-align: right;
	color: var(--white);
	margin-top: 3px;
	margin-right: 5px;
	font-family: var(--font);
	font-size: 16px;
}
