body > header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	color: var(--white);
	background-color: var(--grey_1);
	box-shadow: var(--shadow);
	z-index: 200;
}

body > header > div#logo > a {
	position: absolute;;
	top: 0px;
	left: 0px;
	color: var(--white);
	font-family: var(--font);
	text-decoration: none;
	font-size: 40px;
	margin-left: 15px;
}

body > header > div.button {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
}

body > header > div.button#admin {
	right: 50px;
}

body > header > div.button > a > img {
	width: 30px;
	height: 30px;
}

body > header > div.button > a:nth-child(2) > div {
	border-radius: 0px 5px 5px 0px;
}

body > header > div.button > a > div > p {
	text-align: center;
	vertical-align: middle;
}

body > header > div.button > a > div > img {
	display: inline-block;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 5px;
	top: 0px;
}
