body > div#main {
	padding-bottom: 20px;
}

body > div#main table {
	border-collapse: collapse;
	margin: auto;
	max-width: 622px;
}

body > div#main table.images img {
	width: 50px;
	height: 50px;
}

body > div#main > table > tbody > tr > td {
	min-width: 80px;
	padding: 5px;
	text-align: center;
}

body > div#main > table > tbody > tr:first-child {
	color: white;
}

body > div#main > table > tbody > tr:not(:first-child) > td {
	border-top: solid 1px var(--grey_1);
}

body > div#main > table > tbody > tr > td:last-child {
	min-width: 40px;
	padding: 0px;
}

body > div#main div.element_button {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	background-color: var(--grey_3);
	margin-left: 15px;
	border-radius: 20px;
	box-shadow: var(--shadow);
	z-index: 10;
	cursor: pointer;
}

body > div#main  div.element_button > img {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 5px;
	left: 5px;
}

body > div#main > table > tbody > tr > td:last-child > img {
	width: 30px;
	height: 30px;
}

.h {
	color: #3879D9;
}

.f {
	color: #FF3333;
}
