

body > div#main > div.element#registration {
	height: 250px;
}

body > div#main > div.element#profil {
	height: 430px;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

body > div#main > div.element#lost_password,
body > div#main > div.element#change_password {
	height: 150px;
}

body > div#main > div#profil input[type = 'mail'] {
	width: 632px;
}

body > div#main > div.form#profil tr#tags div {
	width: 632px;
	overflow: scroll;
}

body > div#main > div.form#profil *::-webkit-scrollbar {
	display: none;
}

body > div#main > div.form#profil tr#tags div input {
	width: 100px;
}

body > div#main > div.form#profil textarea {
	width: 632px;
	height: 60px;
	resize: none;
}

body > div#main > div.form#profil img {
	width: 148px;
	height: 148px;
	z-index: 21;
	padding: 0;
}

body > div#main > div.form#profil img.attach {
	width: 50px;
	height: 50px;
	z-index: 20;
	box-shadow: none;
	position: absolute;
	margin-left: -12px;
	margin-top: -10px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

body > div#main > div.form img#image_date {
	width: 30px;
	height: 30px;
	position: absolute;;
	left: 190px;
	z-index: 10;
	border: none;
	box-shadow: none;
}

body > div#main > div.form#registration img#image_date {
	top: -3px;
	padding-left: -100px;
}

body > div#main > div.form input[name = 'birthday'] {
	padding-left: 50px;
}

body > div#main > div.form#profil input[type = 'file'] {
	display: none;
}

body > div#main > div.form#profil tr#upload_tr label,
body > div#main > div.form#profil tr#upload_tr div.delete_image {
	display: inline-block;
	color: transparent;
	width: 148px;
	padding-top: 10px;
	margin-top: -40px;
	text-align: center;
	cursor: pointer;
	height: 30px;
}

body > div#main > div.form#profil tr#upload_tr td {
	position: relative;
}

body > div#main > div.form#profil tr#upload_tr td:hover label,
body > div#main > div.form#profil tr#upload_tr td img[src = 'resources/icons/no_image.png'] + input + label {
	background: var(--grey_4);
	color: var(--white);
}

body > div#main > div.form#profil tr#upload_tr div.delete_image {
	display: none;
	position: absolute;;
	width: 148px;
	background: red;
	color: white;
	top: 0;
	margin: 0;
}

body > div#main > div.form#profil tr#upload_tr td:hover div.delete_image {
	display: block;
}

body > div#main > div.element.form table tr:last-child {
	text-align: center;
}

body > div#main > div.element.form table input[type = 'submit'] {
	background-color: var(--pink);
	color: var(--white);
	font-family: var(--font);
	font-size: 20px;
	height: 35px;
	width: 632px;
	margin-left: -11px;
}

body > div#main div.element#connection table input[type = 'submit'] {
	margin-left: 0;
	width: 150px;
}

body > div#main div.element#connection table tr:last-child td:last-child input[type = 'submit'] {
	margin-left: 0;
	width: 147px;
}

body > div#main > div.multi_element > div.sub_element#registration_button table {
	margin-top: 50px;
}

/* MATCHES */

body > div#main > div.element.matched {
	padding-left: 200px;
	width: 520px;

	-webkit-transition: all .1s ease-out;
}

body > div#main > div.element.matched:hover {
	-webkit-transform: rotate(1deg);
}

body > div#main > div.element.matched *::-webkit-scrollbar {
	display: none;
}

body > div#main > div.element.matched table th {
	color: var(--white)
}

body > div#main > div.element.matched table td {
	/*color: var(--grey_1)*/
}

body > div#main > div.element.matched table tr:first-child img {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 1px;
	border-right: solid 1px var(--grey_2);
	margin: -2px;
}

body > div#main > div.element.matched table tr:not(:first-child) td {
	/*background: red;*/
}

body > div#main > div.element.matched table tr:last-child {
	position: absolute;
	bottom: 0;
}

body > div#main > div.element.matched table tr:not(:first-child) th {
	text-align: left;
	font-size: 22px;
}

body > div#main > div.element.matched table tr:not(:first-child) td img {
	width: 30px;
	height: 30px;
}

body > div#main > div.element.matched table tr:nth-child(4) td:last-child {
	overflow: scroll;
	max-width: 480px;
	max-height: 100px;
}

body > div#main > div.element.matched > img.gender {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	border: none;
}

body > div#main div.element_buttons {
	display: inline-block;
	position: absolute;
	bottom: 10px;
	right: 15px;
	/*width: 175px;*/
	height: 40px;
}

body > div#main div.element_buttons div.element_button {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	background-color: var(--grey_3);
	margin-left: 15px;
	border-radius: 20px;
	box-shadow: var(--shadow);
	/*z-index: 10;*/
	cursor: pointer;
}

body > div#main div.element_buttons div.element_button > img {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 6px;
	left: 6px;
}

body > div#main > div.subtitle {
	position: relative;
}

body > div#main > div.subtitle > div#locate {
	display: inline-block;
	background: white;
	width: 29px;
	height: 29px;
	background-image: url ('resources/icons/gps.png');
	position: absolute;
	right: -20px;
	top: 36px;
	z-index: 1000;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

body > div#main > div.subtitle > div#locate > img {
	width: 25px;
	height: 25px;
	margin: 2px;
}

body > div#main > div.form#delete_account {
	height: auto;
	padding: 15px 0 15px 0;
	color: var(--white);
}

body > div#main > div.form#delete_account td {
	color: var(--white);
}

body > div#main > div.form#delete_account input[type = 'submit'] {
	background: red;
	width: 300px;
}

body > div#main > div.form#delete_account input[type = 'checkbox'] {
	width: 20px;
	box-shadow: none;
}

body > div#main > div.element.matched th.on_offline div {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 20px black;
	margin-left: 10px;
}

body > div#main > div.element.matched div.online {
	background: #22FF00;
}

body > div#main > div.element.matched div.offline {
	background: var(--grey_1);
}

body > div#main > div.element.matched div.tags {
	position: absolute;
	bottom: 0px;
	left: 290px;
	width: 300px;
	height: 30px;
	overflow-y: auto;
}

body > div#main > div.element.matched div.tags div {
	display: inline-block;
	padding: 3px;
	margin: 3px;
	font-style: italic;
	background: var(--grey_2);
	color: var(--white);
	border-radius: 5px;
}
