body > div#main {
	position: absolute;
	background-color: var(--grey_3);
	box-shadow: var(--shadow);
	width: 800px;
	left: 50%;
	margin-left: -400px;
	padding-top: 20px;
	margin-bottom: 100px;
}

body > div#main > div.subtitle {
	display: inline-block;
	padding: 4px 15px 4px 15px;
	background: var(--grey_4);
	position: relative;
	color: var(--white);
	top: 20px;
	left: 60px;
	box-shadow: var(--shadow);
	z-index: 1;
}

body > div#main > div.subtitle:first-child {
	margin-top: -20px;
}

body > div#main > div.subtitle > p.subtitle {
	font-size: 19px;
	/*font-weight: bold;*/
}

body > div#main > div#error {
	height: auto;
}

body > div#main > div#error li {
	color: var(--white);
	list-style-type: none;
	font-family: var(--font);
	text-align: center;
}

body > div#main > div.element,
body > div#main > div.multi_element {
	position: relative;
	width: 720px;
	height: 200px;
	margin-left: 5%;
	margin-top: 2%;
}

body > div#main > div.element {
	background-color: var(--grey_4);
	box-shadow: var(--shadow);
}

body > div#main > div:last-child {
	margin-bottom: 50px;
}

body > div#main > div.element#title {
	height: auto;
	padding: 3px 0 3px 0;
}

body > div#main > div.element > p#title {
	color: var(--white);
	font-weight: bold;
	font-family: var(--font);;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
}

body > div#main > div.element > img {
	width: 200px;
	height: 200px;
	border-right: solid 1px var(--grey_2);
}

body > div#main > div.element.form table {
	width: 90%;
	margin: auto;
	margin-top: 5px;
}

body > div#main > div.element.form input {
	width: 100%;
}

body > div#main > div.element.form table th {
	color: var(--white);
	font-family: var(--font);
	font-size: 30px;
}

body > div#main > div.element.form table td {
	padding-bottom: 5px;
}

body > div#main > div.element.form table input,
body > div#main > div.element.form table select,
body > div#main > div.element.form table textarea,
body > div#main > div.element.form table img {
	width: 310px;
	height: 30px;
	padding: 3px;
	border: none;
	font-size: 12px;
	box-shadow: var(--shadow);
	text-align: center;
	border-radius: 0;
}

body > div#main > div.element.form table ul.segmented-control {
	display: table;
	width: 99%;
	height: 30px;
}

body > div#main > div.element.form table ul.segmented-control > li {
	display: table-cell;
	list-style-type: none;
}

body > div#main > div.element.form table ul.segmented-control > li > input {
	position: absolute;
	visibility: hidden;
}

body > div#main > div.element.form table ul.segmented-control > li > label {
	display: block;
	height: 21px;
	padding: 4.5px;
	margin-right: 6px;
	margin-left: -2px;
	box-shadow: var(--shadow);
	text-align: center;
	background-color: var(--white);
	color: var(--grey_4);
	font-family: sans-serif;

	transition: all 0.5s;
}

body > div#main > div.element.form table ul.segmented-control > li > label:hover,
body > div#main > div.element.form table ul.segmented-control > li > input:checked + label {
	background-color: var(--grey_3);
	color: var(--white);
}

body > div#main > div.multi_element div.sub_element {
	display: inline-block;
	position: absolute;
	background-color: var(--grey_4);
	width: 49%;
	height: 200px;
	right: 0;
	box-shadow: var(--shadow);
}

body > div#main > div.multi_element div.sub_element:first-child {
	left: 0;
}

body > div#main > div.multi_element div.sub_element > img {
	width: 100%;
	height: 100%;
}

body > div#main > div.multi_element div.sub_element table {
	margin: auto;
	margin-top: 5px;
}

body > div#main > div.multi_element div.sub_element table th {
	color: var(--white);
	font-family: var(--font);
	font-size: 30px;
}

body > div#main > div.multi_element div.sub_element table td {
	padding-bottom: 10px;
}

body > div#main > div.multi_element div.sub_element table input {
	width: 300px;
	height: 35px;
	padding: 3px;
	border: none;
	font-size: 15px;
	box-shadow: var(--shadow);
	text-align: center;
}

body > div#main > div.multi_element div.sub_element table input[type = 'submit'] {
	background-color: var(--pink);
	color: var(--white);
	font-family: var(--font);;
	font-size: 20px;
}

.loader {
	border: 4px solid var(--grey_4);
	border-top: 4px solid var(--grey_2);
	border-radius: 50%;
	margin: auto;
	margin-top: 20px;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
