body > nav {
	position: fixed;
	top: 0;
	left: 20px;
	height: 300px;
	width: 120px;
	z-index: 4;
	margin-top: 120px;
}

body > nav div.nav_button_container {
	position: relative;
	width: 50px;
}

body > nav div.nav_button_container div.nav_button {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: var(--grey_3);
	margin-top: 20px;
	border-radius: 25px;
	box-shadow: var(--shadow);
}

body > nav div.nav_button_container div.nav_button > img {
	width: 38px;
	height: 38px;
	margin-top: 5px;
	margin-left: 6px;
}

body > nav div.nav_button_container:nth-child(2) div.nav_button > img {
	width: 35px;
	height: 35px;
	margin-top: 8px;
	margin-left: 8px;
}

body > nav div.nav_button_container div.nav_button_badge {
	position: absolute;
	top: 0px;
	left: 40px;

	padding: 0px 3px 0px 3px;
	height: 15px;
	background-color: var(--white);
	border-radius: 25px;
	box-shadow: var(--shadow);
	color: var(--grey_1);
	font-size: 14px;
	text-align: center;
}

body > nav div.nav_button_container:first-child {
	opacity: 0;
	position: absolute;
	left: 0px;
}

body:hover > nav div.nav_button_container:first-child {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 2.5s ease-in-out;
	-o-transition: all 2.5s ease-in-out;
	transition: all 0.5s;
}

body > nav div.nav_button_container.history:first-child {
	opacity: 100;
	left: 70px;
}
