body > div#main > div.element#profil {
	height: 430px;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

body > div#main > div#profil input[type = 'mail'] {
	width: 632px;
}

body > div#main > div.form#profil tr#tags div {
	width: 632px;
	overflow: scroll;
}

body > div#main > div.form#profil *::-webkit-scrollbar {
	display: none;
}

body > div#main > div.form#profil tr#tags div input {
	width: 100px;
}

body > div#main > div.form#profil textarea {
	width: 632px;
	height: 60px;
	resize: none;
}

body > div#main > div.form#profil img {
	width: 148px;
	height: 148px;
	padding: 0;
}

body > div#main > div.form#profil img.attach {
	width: 50px;
	height: 50px;
	z-index: 20;
	box-shadow: none;
	position: absolute;
	margin-left: -12px;
	margin-top: -10px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

body > div#main > div.form img#image_date {
	width: 30px;
	height: 30px;
	position: absolute;;
	left: 190px;
	z-index: 10;
	border: none;
	box-shadow: none;
}

body > div#main > div.form#registration img#image_date {
	top: -3px;
	padding-left: -100px;
}

body > div#main > div.form input[name = 'birthday'] {
	padding-left: 50px;
}

body > div#main > div.form#profil input[type = 'file'] {
	display: none;
}

body > div#main > div.form#profil tr#upload_tr label,
body > div#main > div.form#profil tr#upload_tr div.delete_image {
	display: inline-block;
	color: transparent;
	width: 148px;
	padding-top: 10px;
	margin-top: -40px;
	text-align: center;
	cursor: pointer;
	height: 30px;
}

body > div#main > div.form#profil tr#upload_tr td {
	position: relative;
}

body > div#main > div.form#profil tr#upload_tr td:hover label,
body > div#main > div.form#profil tr#upload_tr td img[src = 'resources/icons/no_image.png'] + input + label {
	background: var(--grey_4);
	color: var(--white);
}

body > div#main > div.form#profil tr#upload_tr div.delete_image {
	display: none;
	position: absolute;;
	width: 148px;
	background: red;
	color: white;
	top: 0;
	margin: 0;
}

body > div#main > div.form#profil tr#upload_tr td:hover div.delete_image {
	display: block;
}

body > div#main > div.element.form table tr:last-child {
	text-align: center;
}

body > div#main > div.element.form table input[type = 'submit'] {
	background-color: var(--pink);
	color: var(--white);
	font-family: var(--font);
	font-size: 20px;
	height: 35px;
	width: 632px;
	margin-left: -11px;
}

body > div#main > div.subtitle {
	position: relative;
}

body > div#main > div.subtitle > div#locate {
	display: inline-block;
	background: white;
	width: 29px;
	height: 29px;
	background-image: url ('resources/icons/gps.png');
	position: absolute;
	right: -20px;
	top: 36px;
	z-index: 1000;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

body > div#main > div.subtitle > div#locate > img {
	width: 25px;
	height: 25px;
	margin: 2px;
}

body > div#main > div.form#delete_account {
	height: auto;
	padding: 15px 0 15px 0;
	color: var(--white);
}

body > div#main > div.form#delete_account td {
	color: var(--white);
}

body > div#main > div.form#delete_account input[type = 'submit'] {
	background: red;
	width: 300px;
}

body > div#main > div.form#delete_account input[type = 'checkbox'] {
	width: 20px;
	box-shadow: none;
}
