@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

:root {
	--grey_1: #212121;
	--grey_2: #303030;
	--grey_3: #424242;
	--grey_4: #606060;
	--white:  #FFFFFF;
	--black:  #000000;
	--pink:   #C3207F;
	--shadow: 1px 1px 2px 1px var(--black);
	--font: 'Indie Flower', cursive;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--grey_2);
	padding-top: 50px;
}

.hidden {
	display: none;
}

input[type = 'submit'] {
	cursor: pointer;
}

#toast-container > div {
	background-color: var(--grey_4);
	box-shadow: var(--shadow);
	border-radius: 0;
}
