body > div#search {
	text-align: center;
	background: var(--grey_3);
	box-shadow: var(--shadow);
	height: 100px;
	width: 800px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 0;
	padding-top: 20px;
	padding-left: 0px;
	transition: all 3s;
	-webkit-transition: all 1s;
}

body > div#search.hidden_search {
	margin-top: -140px;
}

body > div#search > div > table > tbody > tr > td {
	text-align: center;
}

body > div#search div {
	width: 150px;
	/*margin-bottom: 10px;*/
}

body > div#search p {
	display: inline-block;
	color: #FFFFFF;
	width: 80px;
	text-align: right;
	margin-right: 12px;
}

body > div#search td:last-child p {
	text-align: left;
	margin-left: 12px;
}

body > div#search input#tags_looked_for,
body > div#search select#select_tag,
body > div#search select#select_tag * {
	-webkit-appearance: none;
	appearance: none;
	margin-top: 1px;
	padding: 2px;
	border-radius: 0;
	border: none;
	box-shadow: var(--shadow);
	height: 20px;
	width: 200px;
}

body > div#search span#tags_container {
	position: relative;
}

body > div#search select#select_tag {
	position: absolute;
	top: 22px;
	left: 0px;
}

body > div#search input[type = 'radio'] {
	display: none;
}

body > div#search input[type = 'radio'] + label {
	display: inline-block;
	width: 80px;
	text-align: center;
	color: var(--white);
	background: var(--grey_3);
	box-shadow: var(--shadow);
}

body > div#search input[type = 'radio']:checked + label {
	background: var(--grey_4);
}
