body > div#main > div#profil input {
	background: var(--grey_3);
	color: var(--white);
	box-shadow: none;
}

body > div#main > div.element#profil {
	height: 430px;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

body > div#main > div#profil input[type = 'mail'] {
	width: 632px;
}

body > div#main > div.form#profil tr#tags div {
	width: 632px;
	overflow: scroll;
}

body > div#main > div.form#profil *::-webkit-scrollbar {
	display: none;
}

body > div#main > div.element.form table ul.segmented-control > li > label {
	box-shadow: none;
}

body > div#main > div.element.form table ul.segmented-control > li > label:hover {
	background-color: var(--white);
	color: var(--grey_4);
	box-shadow: none;
}

body > div#main > div.form#profil tr#tags div input {
	width: 100px;
	box-shadow: none;
}

body > div#main > div.form#profil textarea {
	width: 632px;
	height: 60px;
	resize: none;
	box-shadow: none;
}

body > div#main > div.form#profil tr#imgs img {
	width: 148px;
	height: 148px;
	z-index: 21;
	padding: 0;
	box-shadow: none;
}

body > div#main > div.form#profil tr#imgs img.attach {
	width: 50px;
	height: 50px;
	z-index: 20;
	box-shadow: none;
	position: absolute;
	margin-left: -12px;
	margin-top: -10px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

body > div#main > div.form img#image_date {
	width: 30px;
	height: 30px;
	position: absolute;;
	left: 190px;
	z-index: 10;
	border: none;
	box-shadow: none;
}

body > div#main > div.form#registration img#image_date {
	top: -3px;
	padding-left: -100px;
}

body > div#main > div.form input[name = 'birthday'] {
	padding-left: 50px;
}

body > div#main > div.form#profil input[type = 'file'] {
	display: none;
}

body > div#main > div.form#profil tr#upload_tr td {
	position: relative;
}

body > div#main > div.form#profil tr#upload_tr div.delete_image {
	display: none;
	position: absolute;;
	width: 148px;
	color: white;
	top: 0;
	margin: 0;
}

body > div#main > div.form#profil tr#upload_tr td:hover div.delete_image {
	display: block;
}

body > div#main > div.form#profil tr:last-child td:first-child img {
	width: 30px;
	height: 30px;
	display: inline-block;
}

body > div#main > div.form#profil tr:last-child {
}

body > div#main > div.form#profil tr:last-child td:first-child p {
	display: inline-block;
}

body > div#main > div.element.form table tr:last-child {
	text-align: center;
}

body > div#main > div.subtitle {
	position: relative;
}

body > div#main div.element_buttons {
	display: inline-block;
	position: absolute;
	bottom: 10px;
	right: 15px;
	height: 40px;
}

body > div#main div.element_buttons div.element_button {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	background-color: var(--grey_3);
	margin-left: 15px;
	border-radius: 20px;
	box-shadow: var(--shadow);
	cursor: pointer;
}

body > div#main div.element_buttons div.element_button > img {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 3px;
	left: 3px;
	box-shadow: none;
}

#profil > table > tbody > tr:nth-child(7) > td:nth-child(1) > p {
	color: var(--white);
}
