html(lang = 'en')

	head
		title #{title}
		script(src = '/socket.io/socket.io.js')
		script(src = 'js/jquery.min.js')
		script(src = 'js/toastr.min.js')
		script(src = 'js/httpRequest.js')
		script(src = 'js/online.js')
		script(src = 'js/ADMIN_list_of_users.js')

		link(href = '../css/toastr.min.css', rel = 'stylesheet')
		link(href = '../css/root.css', rel = 'stylesheet')
		link(href = '../css/header.css', rel = 'stylesheet')
		link(href = '../css/nav.css', rel = 'stylesheet')
		link(href = '../css/footer.css', rel = 'stylesheet')
		link(href = '../css/main_tiles.css', rel = 'stylesheet')
		link(href = '../css/list_of_users.css', rel = 'stylesheet')

	body
		include header
		include nav

		div#main
			table
				tr
					td(colspan = '2')
						table.images
							tr
								td
								td
								td
								td
					td Pseudo
					td Birthday
					td City
					td Score
					td
						table.buttons
							tr
								td
								td
					td
						img(src = 'resources/icons/report.png')
				- if (!users)
					- users = []
				each user in users
					tr
						td(colspan = '2')
							table.images
								tr
									td
										img(src = user.image_0 ? 'resources/profils/' + user.profil_path + '/' + user.images_path + '/image_0' : '../resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
									td
										img(src = user.image_1 ? 'resources/profils/' + user.profil_path + '/' + user.images_path + '/image_1' : '../resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
									td
										img(src = user.image_2 ? 'resources/profils/' + user.profil_path + '/' + user.images_path + '/image_2' : '../resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
									td
										img(src = user.image_3 ? 'resources/profils/' + user.profil_path + '/' + user.images_path + '/image_3' : '../resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
						td(class = user.gender == 1 ? 'h' : 'f')= user.pseudo
						td= user.birthday
						td= user.city
						td= user.score
						td
							- if (user.user_id != session.user_id)
								table.buttons
									tr
										td
											div.element_button(onclick = user.key == 'validated' ? '' : 'validate_user(this, ' + user.user_id + ')')
												img(src = user.key == 'validated' ? 'resources/icons/checkbox.png' : 'resources/icons/checkbox_blank.png')
										td
											div.element_button(onclick = 'delete_account(this, ' + user.user_id + ')')
												img(src = 'resources/icons/clear.png')
						td
							p= user.report

		include footer
