html(lang = 'en')

	head
		title #{title}
		link(href = 'css/root.css', rel = 'stylesheet')
		link(href = 'css/header.css', rel = 'stylesheet')
		link(href = 'css/nav.css', rel = 'stylesheet')
		link(href = 'css/footer.css', rel = 'stylesheet')
		link(href = 'css/main_tiles.css', rel = 'stylesheet')
		link(href = 'css/main.css', rel = 'stylesheet')

	body
		include header

		div#main
			div.element.form#change_password
				form(action = '/change_password', method = 'POST', enctype = 'multipart/form-data', onsubmit = 'return validate_form_change_password ()')
					table
						tr
							th(colspan = '2') Change Password
						tr
							td
								input(placeholder = 'Password', type = 'password', name = 'password')
							td
								input(placeholder = 'Password, Again..', type = 'password', name = 'password_verification')
						tr
							td(colspan = '2')
								input(type = 'submit', value = 'Update Password')

		include footer
