html(lang = 'en')

	head
		title #{title}
		script(src = '/socket.io/socket.io.js')
		script(src = 'js/jquery.min.js')
		script(src = 'js/toastr.min.js')
		script(src = 'js/httpRequest.js')
		script(src = 'js/online.js')
		script(src = 'js/chatting.js')

		link(href = 'css/toastr.min.css', rel = 'stylesheet')
		link(href = 'css/root.css', rel = 'stylesheet')
		link(href = 'css/header.css', rel = 'stylesheet')
		link(href = 'css/nav.css', rel = 'stylesheet')
		link(href = 'css/footer.css', rel = 'stylesheet')
		link(href = 'css/main_tiles.css', rel = 'stylesheet')
		link(href = 'css/main.css', rel = 'stylesheet')
		link(href = 'css/chatting.css', rel = 'stylesheet')

	body
		include header
		include nav

		div#main
			div.element.auto_height#chat
				img.hidden#user_image(src = session.user_infos.image_0 ? 'resources/profils/' + session.user_infos.profil_path + '/' + session.user_infos.images_path + '/image_0' : 'resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
				img.hidden#target_image(src = target.image_0 ? 'resources/profils/' + target.profil_path + '/' + target.images_path + '/image_0' : 'resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
				- if (!messages)
					- messages = []
				each message in messages
					div(class = (message.autor == session.user_id ? 'user' : 'target'))
						- if (message.autor == session.user_id)
							img#user_image(src = session.user_infos.image_0 ? 'resources/profils/' + session.user_infos.profil_path + '/' + session.user_infos.images_path + '/image_0' : 'resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
						- else
							img#target_image(src = target.image_0 ? 'resources/profils/' + target.profil_path + '/' + target.images_path + '/image_0' : 'resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
						each msg in message.msgs
							p= msg.msg
				p#empty
			div.element#dialog_input
				textarea#textarea(name = 'message')
				input#send_message(type = 'submit', value = 'submit')

		include footer
