html(lang = 'en')

	head
		title #{title}
		script(src = '/socket.io/socket.io.js')
		script(src = 'js/jquery.min.js')
		script(src = 'js/toastr.min.js')
		script(src = 'js/httpRequest.js')
		script(src = 'js/online.js')
		script(src = 'js/chat.js')

		link(href = 'css/toastr.min.css', rel = 'stylesheet')
		link(href = 'css/root.css', rel = 'stylesheet')
		link(href = 'css/header.css', rel = 'stylesheet')
		link(href = 'css/nav.css', rel = 'stylesheet')
		link(href = 'css/footer.css', rel = 'stylesheet')
		link(href = 'css/main_tiles.css', rel = 'stylesheet')
		link(href = 'css/main.css', rel = 'stylesheet')
		link(href = 'css/chat.css', rel = 'stylesheet')

	body
		include header
		include nav

		div#main
			- if (!users)
				- users = []
			- i = 0
			- k = null
			- first_path = null

			mixin block(user, path)
				div.sub_element(onclick = 'window.location = \'' + path + '\'')
					img.profil_image(src = user.image_0 ? 'resources/profils/' + user.profil_path + '/' + user.images_path + '/image_0' : 'resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
					img.gender(src = 'resources/icons/' + (user.gender == 1 ? 'male' : 'female') + '.png')
					- if (user.counter && user.counter > 0)
						div#unread
							p= '(' + user.counter + ' unread)'
					div
						p= user.firstname
						p= '(' + user.pseudo + ', ' + user.age + ')'
					div.element_buttons
						a(href = '/profil/' + user.visit_key)
							div.element_button.view
								- if (user.visited && user.target_visited)
									img(src = 'resources/icons/viewed_pink.png')
								- else if (user.visited)
									img(src = 'resources/icons/viewed.png')
								- else if (user.target_visited)
									img(src = 'resources/icons/view_pink.png')
								- else
									img(src = 'resources/icons/view.png')

			each user in users
				- var path = '/chat/' + user.file_path
				- if (i % 2 == 0)
					- user.counter = user.user_id == session.user_id ? user.user_unread : user.target_unread
					- k = user
					- first_path = path
				- if (i++ % 2 == 1)
					div.multi_element
						+block(k, first_path)
						+block(user, path)
					- k = null
			- if (k)
				div.multi_element
					+block(k, first_path)

		include footer
