html(lang = 'en')

	head
		title #{title}
		script(src = '/socket.io/socket.io.js')
		script(src = 'js/jquery.min.js')
		script(src = 'js/toastr.min.js')
		script(src = 'js/script_sign.js')

		link(href = 'css/toastr.min.css', rel = 'stylesheet')
		link(href = 'css/root.css', rel = 'stylesheet')
		link(href = 'css/header.css', rel = 'stylesheet')
		link(href = 'css/footer.css', rel = 'stylesheet')
		link(href = 'css/main_tiles.css', rel = 'stylesheet')
		link(href = 'css/main.css', rel = 'stylesheet')

	body
		include header

		div#main
			div.element#title
				p#title There is no love without Matcha.
			div.multi_element
				div.sub_element
					img(src = 'resources/images/find-love.jpg')
				div.sub_element.form#connection
					form(action = '/login', method = 'POST', enctype = 'multipart/form-data', onsubmit = 'return validate_form_connection ()')
						table
							tr
								th Connection
							tr
								td
									input(placeholder = 'Pseudo/Mail', type = 'mail', name = 'pseudo', autofocus)
							tr
								td
									input(placeholder = 'Password', type = 'password', name = 'password')
							tr
								td
									input(type = 'submit', value = 'Go to find Love !', name = 'submit')
			- if (errors > 0)
				div.element.unfixed#error(class = hidden)
					ul
						- if (errors & 0b00000001)
							li You must fill the Pseudo input.
						- if (errors & 0b00000010)
							li Don't try to modify the gender please...
						- if (errors & 0b00000100)
							li You must specify a valid mail.
						- if (errors & 0b00001000)
							li You must fill the Firstname input.
						- if (errors & 0b00010000)
							li You must fill the Lastname input.
						- if (errors & 0b00100000)
							li Your both passwords must be identical.
						- if (errors & 0b01000000)
							li This pseudo already exists. Please choose an other one !
						- if (errors & 0b10000000)
							li An account already exists with this mail.
			div.element.form#registration
				form(action = '/registration', method = 'POST', enctype = 'multipart/form-data', onsubmit = 'return validate_form_registration ()')
					table
						tr
							th(colspan = '2') Registration
						tr
							td
								input(placeholder = 'Pseudo', type = 'text', name = 'pseudo', value = infos['pseudo'])
							td
								ul.segmented-control
									li.segmented-control-item
										input.segmented-control-input#option-1(type = 'radio', value = '1', name = 'gender', checked)
										label.segmented-control-label(for = 'option-1') Man
									li.segmented-control-item
										input.segmented-control-input#option-2(type = 'radio', value = '2', name = 'gender')
										label.segmented-control-label(for = 'option-2') Woman
						tr
							td(style = 'position: relative')
								input(type = 'date', name = 'birthday', value = '2016-01-01')
								img#image_date(src = 'resources/icons/date.png')
							td
								input(placeholder = 'Mail', type = 'mail', name = 'mail')
						tr
							td
								input(placeholder = 'Firstname', type = 'text', name = 'firstname')
							td
								input(placeholder = 'Lastname', type = 'text', name = 'lastname')
						tr
							td
								input(placeholder = 'Password', type = 'password', name = 'password')
							td
								input(placeholder = 'Password, Again..', type = 'password', name = 'password_verification')
						tr
							td(colspan = '2')
								input(type = 'submit', value = 'Register !')
			div.multi_element
				div.sub_element#registration_button
					table
						tr
							th Not registered yet ?
						tr
							td
								input(type = 'submit', value = "Register here ! :']")
				div.sub_element
					img(src = 'resources/images/love.jpg')

		include footer
