- if (!users)
	- users = []
each user in users
	div.element.matched(id = user.visit_key)
		table
			tr
				td
					img(src = user.image_0 ? 'resources/profils/' + user.profil_path + '/' + user.images_path + '/image_0' : 'resources/icons/no_image.png', onerror = 'this.src=\'resources/icons/no_image.png\'')
			tr
				th.on_offline
					- if (user.is_online)
						div.online
					- else
						div.offline(title = 'Last connection ' + user.offline_since)
				th(colspan = '2')= user.firstname + ' - ' + user.age + ' (' + user.pseudo + ')'
			tr
				td
					img(src = 'resources/icons/location.png')
				- if (user.city != null)
					td= user.city + (session.user_infos.longitude == 0 && session.user_infos.latitude == 0 ? '' : ' (' + user.distance + 'km)')
				- else
					td -
			tr
				td
					img(src = 'resources/icons/bio.png')
				- if (user.bio)
					td= user.bio
				- else
					td= user.firstname + ' has nothing to say...'
			tr.score
				td
					img(src = 'resources/icons/grade.png')
				td= user.score
		img.gender(src = 'resources/icons/' + (user.gender == 1 ? 'male' : 'female') + '.png')
		div.tags
			table
				tr
					- if (!user.tags)
						- user.tags = []
					each tag in user.tags
						td
							a(href = '/tags/' + tag.title.split ('#')[1])
								div=tag.title

		div.element_buttons
			- if (session.user_infos.photos_count > 0)
				div.element_button.like(id = user.like_key)
					- if (user.liked && user.target_liked)
						img(src = 'resources/icons/favorite_pink.png')
					- else if (user.liked)
						img(src = 'resources/icons/favorite.png')
					- else if (user.target_liked)
						img(src = 'resources/icons/favorite_border_pink.png')
					- else
						img(src = 'resources/icons/favorite_border.png')
			a(href = '/profil/' + user.visit_key)
				div.element_button.view
					- if (user.visited && user.target_visited)
						img(src = 'resources/icons/viewed_pink.png')
					- else if (user.visited)
						img(src = 'resources/icons/viewed.png')
					- else if (user.target_visited)
						img(src = 'resources/icons/view_pink.png')
					- else
						img(src = 'resources/icons/view.png')
- if (need_more_users)
	div.loader
