html(lang = 'en')

	head
		title #{title}
		link(href = 'css/root.css', rel = 'stylesheet')
		link(href = 'css/header.css', rel = 'stylesheet')
		link(href = 'css/nav.css', rel = 'stylesheet')
		link(href = 'css/footer.css', rel = 'stylesheet')
		link(href = 'css/main_tiles.css', rel = 'stylesheet')
		link(href = 'css/main.css', rel = 'stylesheet')

	body
		include header
		div#main
			- if (errors > 0)
				div.element#title
					- if (errors & 0b000000001)
						p#title Please fill the `Pseudo` input and use only authorized characters.
					- else if (errors & 0b000000010)
						p#title Please fill the `Password` input and use only authorized characters.
					- else if (errors & 0b000000100)
						p#title Please valid your account. You received a mail ;]
					- else if (errors & 0b000001000)
						p#title It's not the good password !
					- else if (errors & 0b000010000)
						p#title There is no account with this pseudo/mail.
					- else if (errors & 0b000100000)
						p#title There is an error with your key. Please try again.
					- else if (errors & 0b001000000)
						p#title This email is not on our database.
					- else if (errors & 0b010000000)
						p#title An error has occurred. Please try again.
					- else if (errors & 0b100000000)
						p#title
		include footer
