header
	div#logo
		a(href = '/') Matcha
			img(src = '')
	- if ((session && session.user_id && session.user_id > 0))
		- if (session.user_infos.settings > 0)
			div.button#admin
				a(href = '/admin')
					img(src = 'resources/icons/setting.png')
		div.button#sign
			a(href = '/logout')
				img(src = 'resources/icons/logout.png')
