html(lang = 'en')

	head
		title #{title}
		script(src = '/socket.io/socket.io.js')
		script(src = 'js/jquery.min.js')
		script(src = 'js/toastr.min.js')
		script(src = 'js/httpRequest.js')
		script(src = 'js/online.js')
		script(src = 'js/jquery-ui.min.js')
		script(src = 'js/matches.js')
		script(src = 'js/search.js')

		link(href = 'css/toastr.min.css', rel = 'stylesheet')
		link(href = 'css/jquery-ui.css', rel = 'stylesheet')
		link(href = 'css/root.css', rel = 'stylesheet')
		link(href = 'css/header.css', rel = 'stylesheet')
		link(href = 'css/nav.css', rel = 'stylesheet')
		link(href = 'css/footer.css', rel = 'stylesheet')
		link(href = 'css/main_tiles.css', rel = 'stylesheet')
		link(href = 'css/main.css', rel = 'stylesheet')
		link(href = 'css/search.css', rel = 'stylesheet')

	body
		include header
		include nav
		include search

		div#main
			include elements

		include footer
