html(lang = 'en')

	head
		title #{title}

		link(href = 'css/toastr.min.css', rel = 'stylesheet')
		link(href = 'css/root.css', rel = 'stylesheet')
		link(href = 'css/header.css', rel = 'stylesheet')
		link(href = 'css/nav.css', rel = 'stylesheet')
		link(href = 'css/footer.css', rel = 'stylesheet')
		link(href = 'css/main_tiles.css', rel = 'stylesheet')
		link(href = 'css/main.css', rel = 'stylesheet')

	body
		include header

		div#main
			div.element.form#lost_password
				form(action = '/lost_password', method = 'POST', enctype = 'multipart/form-data', onsubmit = 'return validate_form_lost_password ()')
					table
						tr
							th Lost Password
						tr
							td
								input(placeholder = 'Mail', type = 'mail', name = 'mail', style = 'width: 633px')
						tr
							td
								input(type = 'submit', value = 'Send Mail')

		include footer
