nav
	div.nav_button_container
		a(href = '/history/visit')
			div.nav_button#viewed
				img(src = 'resources/icons/viewed.png')
		a(href = '/history/visitPink')
			div.nav_button#viewed_pink
				img(src = 'resources/icons/viewed_pink.png')
				- if (badges_history && badges_history[0] > 0)
					div.nav_button_badge #{badges_history[0]}
				- else
					div.nav_button_badge.hidden #{badges_history[0]}
		a(href = '/history/like')
			div.nav_button#favorite
				img(src = 'resources/icons/favorite.png')
		a(href = '/history/likePink')
			div.nav_button#favorite_pink
				img(src = 'resources/icons/favorite_pink.png')
				- if (badges_history && badges_history[1] > 0)
					div.nav_button_badge #{badges_history[1]}
				- else
					div.nav_button_badge.hidden #{badges_history[1]}
	div.nav_button_container
		div.nav_button(onclick = (!tags ? '' : 'toggle_search ()'))
			img(src = 'resources/icons/search.png')
		div.nav_button#history
			img(src = 'resources/icons/history.png')
			- if (badges && badges[0] > 0)
				div.nav_button_badge #{badges[0]}
			- else
				div.nav_button_badge.hidden #{badges[0]}
		a(href = '/chat')
			div.nav_button#messages
				img(src = 'resources/icons/chat.png')
				- if (badges && badges[1] > 0)
					div.nav_button_badge #{badges[1]}
				- else
					div.nav_button_badge.hidden #{badges[1]}
		a(href = '/profil')
			div.nav_button
				img(src = 'resources/icons/setting.png')
				- if (badges && badges[2] > 0)
					div.nav_button_badge #{badges[2]}
