
html(lang = 'en')

	head
		title #{title}
		script(src = '/socket.io/socket.io.js')
		script(src = 'js/jquery.min.js')
		script(src = 'js/toastr.min.js')
		script(src = 'js/httpRequest.js')
		script(src = 'js/online.js')
		script(src = 'http://maps.google.com/maps/api/js?key=AIzaSyAfq1hFaqW4y36J0ug5AB8ylP7GS-u08n8')
		script(src = 'js/profil.js')

		link(href = 'css/toastr.min.css', rel = 'stylesheet')
		link(href = 'css/root.css', rel = 'stylesheet')
		link(href = 'css/header.css', rel = 'stylesheet')
		link(href = 'css/nav.css', rel = 'stylesheet')
		link(href = 'css/footer.css', rel = 'stylesheet')
		link(href = 'css/main_tiles.css', rel = 'stylesheet')
		link(href = 'css/profil.css', rel = 'stylesheet')

	body
		include header
		include nav
		div#main
			div.subtitle
				p.subtitle Profil
			div.element.form#profil
				form(action = '/profil', method = 'POST', enctype = 'multipart/form-data', onsubmit = 'return validate_form_profil ()')
					table
						tr
							td(colspan = '2')
								input(placeholder = 'Pseudo', type = 'text', name = 'pseudo', value = session.user_infos.pseudo, disabled)
							td(colspan = '2')
								ul.segmented-control
									li.segmented-control-item
										- if (session.user_infos.gender == 1)
											input.segmented-control-input#option_gender-1(type = 'radio', value = '1', name = 'gender', checked)
										- else
											input.segmented-control-input#option_gender-1(type = 'radio', value = '1', name = 'gender')
										label.segmented-control-label(for = 'option_gender-1') Man
									li.segmented-control-item
										- if (session.user_infos.gender == 1)
											input.segmented-control-input#option_gender-2(type = 'radio', value = '2', name = 'gender')
										- else
											input.segmented-control-input#option_gender-2(type = 'radio', value = '2', name = 'gender', checked)
										label.segmented-control-label(for = 'option_gender-2') Woman
						tr
							td(colspan = '2', , style = 'position: relative')
								input(type = 'date', name = 'birthday', value = session.user_infos.birthday)
								img#image_date(src = 'resources/icons/date.png')
							td(colspan = '2')
								ul.segmented-control
									li.segmented-control-item
										- if (session.user_infos.sexual_orientation == 1)
											input.segmented-control-input#option-1(type = 'radio', value = '1', name = 'sexual_orientation', checked)
										- else
											input.segmented-control-input#option-1(type = 'radio', value = '1', name = 'sexual_orientation')
										label.segmented-control-label(for = 'option-1') Homo
									li.segmented-control-item
										- if (session.user_infos.sexual_orientation == 2)
											input.segmented-control-input#option-2(type = 'radio', value = '2', name = 'sexual_orientation', checked)
										- else
											input.segmented-control-input#option-2(type = 'radio', value = '2', name = 'sexual_orientation')
										label.segmented-control-label(for = 'option-2') Hetero
									li.segmented-control-item
										- if (session.user_infos.sexual_orientation == 3)
											input.segmented-control-input#option-3(type = 'radio', value = '3', name = 'sexual_orientation', checked)
										- else
											input.segmented-control-input#option-3(type = 'radio', value = '3', name = 'sexual_orientation')
										label.segmented-control-label(for = 'option-3') Bi
						tr
							td(colspan = '4')
								input(placeholder = 'Mail', type = 'mail', name = 'mail', value = session.user_infos.mail)
						tr
							td(colspan = '2')
								input(placeholder = 'Firstname', type = 'text', name = 'firstname', value = session.user_infos.firstname)
							td(colspan = '2')
								input(placeholder = 'Lastname', type = 'text', name = 'lastname', value = session.user_infos.lastname)
						tr
							td(colspan = '2')
								input(placeholder = 'Password', type = 'password', name = 'password')
							td(colspan = '2')
								input(placeholder = 'Password, Again..', type = 'password', name = 'password_verification')
						tr(id = 'upload_tr')
							- var images = [session.user_infos.image_0, session.user_infos.image_1, session.user_infos.image_2, session.user_infos.image_3]
							each i in [0, 1, 2, 3]
								td
									- if (i == 0)
										img(src = 'resources/icons/attach_b.png', class = 'attach')
									img(src = images[i] ? 'resources/profils/' + session.user_infos.profil_path + '/' + session.user_infos.images_path + '/image_' + i : 'resources/icons/no_image.png', id = 'image_' + i, onerror = 'this.src=\'resources/icons/no_image.png\'')
									input(type = 'file', name = 'image_' + i, id = i)
									label(for = i, id = 'label_' + i, display = 'inline-block')= images[i] ? 'Modify' : 'Add'
									div.delete_image(id = 'div_' + i, style = images[i] ? '' : 'display: none')
										p Delete
						tr
							td(colspan = '4')
								textarea(placeholder = "Write about you... :\']", rows = '5', maxlength = '300', name = 'bio')= session.user_infos.bio
						tr#tags
							td(colspan = '4')
								div
									table
										tr
											- if (!session.tags)
												- session.tags = []
											each tag in session.tags
												- if (tag && tag.length > 0)
													td
														input(type = 'text', class = 'tags', name = 'tags', placeholder = 'tags', value = tag)
											td
												input(type = 'text', class = 'tags', name = 'tags', placeholder = 'tags', value = '#')
						tr
							td(colspan = '4')
								input(type = 'submit', value = 'Update Infos !')
			div.subtitle
				p.subtitle Location
				div#locate
					img(src = 'resources/icons/gps.png')
			div.element#carte
			div.element.form#delete_account
				form(action = '/delete_account', method = 'POST', enctype = 'multipart/form-data')
					table
						tr
							td
								input(type = 'checkbox', name = 'be_sure', value = 'true')
							td Yes I want to delete my account.
							td
								input(type = 'submit', value = 'Delete account')
		include footer
