div#search.hidden_search
	div
		script.
			var age = #{session.user_infos.age}
			var score = #{session.user_infos.score}
		table
			tr
				td(style = 'margin-left: 20px;')
					table
						tr
							td
								p#min_age= ((session.user_infos.age - 4) < 18 ? 18 : session.user_infos.age - 4) + ' years'
							td
								div#slider_age
							td
								p#max_age= ((session.user_infos.age + 4) > 60 ? 60 : session.user_infos.age + 4) + ' years'
						tr
							td
								p#min_score 0 pts
							td
								div#slider_score
							td
								p#max_score 100000 pts
						tr
							td
								p#min_distance 0 km
							td
								div#slider_distance
							td
								p#max_distance Everywhere
				td(style = 'min-width: 250px;')
					span#tags_container
						input#tags_looked_for
						select#select_tag
							option(value = '') Popular Tags
							each opt in tags
								option(value = opt.title)= opt.title
				td
					table
						tr
							td
								input(type = 'radio', name = 'order', id = 'default', value = 'points', checked)
								label(for = 'default') Default
						tr
							td
								input(type = 'radio', name = 'order', id = 'age', value = 'age')
								label(for = 'age') Age
						tr
							td
								input(type = 'radio', name = 'order', id = 'score', value = 'score')
								label(for = 'score') Score
						tr
							td
								input(type = 'radio', name = 'order', id = 'distance', value = 'distance')
								label(for = 'distance') Distance
				td
					table
						tr
							td
								input(type = 'radio', name = 'sens', id = 'descending', value = 'descending', checked)
								label(for = 'descending') Descending
						tr
							td
								input(type = 'radio', name = 'sens', id = 'ascending', value = 'ascending')
								label(for = 'ascending') Ascending
