html(lang = 'en')

	head
		title #{title}
		script(src = '/socket.io/socket.io.js')
		script(src = 'js/jquery.min.js')
		script(src = 'js/toastr.min.js')
		script(src = 'http://maps.google.com/maps/api/js?key=AIzaSyAfq1hFaqW4y36J0ug5AB8ylP7GS-u08n8')
		script(src = 'js/httpRequest.js')
		script(src = 'js/online.js')
		script(src = 'js/visited_profil.js')

		link(href = 'css/root.css', rel = 'stylesheet')
		link(href = 'css/header.css', rel = 'stylesheet')
		link(href = 'css/nav.css', rel = 'stylesheet')
		link(href = 'css/footer.css', rel = 'stylesheet')
		link(href = 'css/main_tiles.css', rel = 'stylesheet')
		//- link(href = 'css/main.css', rel = 'stylesheet')
		link(href = 'css/visited_profil.css', rel = 'stylesheet')

	body
		include header
		include nav
		div#main
			div.subtitle
				p.subtitle= infos.pseudo
			div.element.form#profil
				table
					tr
						td(colspan = '2')
							input(placeholder = 'Pseudo', type = 'text', name = 'pseudo', value = infos.pseudo, disabled)
						td(colspan = '2')
							ul.segmented-control
								li.segmented-control-item
									- if (infos.gender == 1)
										input.segmented-control-input#option_gender-1(type = 'radio', value = '1', name = 'gender', checked, disabled)
									- else
										input.segmented-control-input#option_gender-1(type = 'radio', value = '1', name = 'gender', disabled)
									label.segmented-control-label(for = 'option_gender-1') Man
								li.segmented-control-item
									- if (infos.gender == 1)
										input.segmented-control-input#option_gender-2(type = 'radio', value = '2', name = 'gender', disabled)
									- else
										input.segmented-control-input#option_gender-2(type = 'radio', value = '2', name = 'gender', checked, disabled)
									label.segmented-control-label(for = 'option_gender-2') Woman
								//- li.segmented-control-item
								//- 	input.segmented-control-input#option-3(type = 'radio', value = '3', name = 'gender')
								//- 	label.segmented-control-label(for = 'option-3') Other
					tr
						td(colspan = '2', , style = 'position: relative')
							input(type = 'date', name = 'birthday', value = infos.birthday, disabled)
							img#image_date(src = 'resources/icons/date.png')
						td(colspan = '2')
							ul.segmented-control
								li.segmented-control-item
									- if (infos.sexual_orientation == 1)
										input.segmented-control-input#option-1(type = 'radio', value = '1', name = 'sexual_orientation', checked, disabled)
									- else
										input.segmented-control-input#option-1(type = 'radio', value = '1', name = 'sexual_orientation', disabled)
									label.segmented-control-label(for = 'option-1') Homo
								li.segmented-control-item
									- if (infos.sexual_orientation == 2)
										input.segmented-control-input#option-2(type = 'radio', value = '2', name = 'sexual_orientation', checked, disabled)
									- else
										input.segmented-control-input#option-2(type = 'radio', value = '2', name = 'sexual_orientation', disabled)
									label.segmented-control-label(for = 'option-2') Hetero
								li.segmented-control-item
									- if (infos.sexual_orientation == 3)
										input.segmented-control-input#option-3(type = 'radio', value = '3', name = 'sexual_orientation', checked, disabled)
									- else
										input.segmented-control-input#option-3(type = 'radio', value = '3', name = 'sexual_orientation', disabled)
									label.segmented-control-label(for = 'option-3') Bi
					tr
						td(colspan = '2')
							input(placeholder = 'Firstname', type = 'text', name = 'firstname', value = infos.firstname, disabled)
						td(colspan = '2')
							input(placeholder = 'Lastname', type = 'text', name = 'lastname', value = infos.lastname, disabled)
					tr(id = 'imgs')
						- var images = [infos.image_0, infos.image_1, infos.image_2, infos.image_3]
						each i in [0, 1, 2, 3]
							td
								img(src = images[i] ? 'resources/profils/' + infos.profil_path + '/' + infos.images_path + '/image_' + i : 'resources/icons/no_image.png', id = 'image_' + i, onerror = 'this.src=\'resources/icons/no_image.png\'')
					tr
						td(colspan = '4')
							textarea(placeholder = "I have nothing to say...", rows = '5', maxlength = '300', name = 'bio', disabled)= infos.bio
					tr#tags
						td(colspan = '4')
							div
								table
									tr
										- if (!tags)
											- tags = []
										each tag in tags
											td
												input(type = 'text', class = 'tags', name = 'tags', placeholder = 'tags', value = tag.title, disabled)
					tr
						td
							p= 'Score:' + infos.score
						td(colspan = '3')
							div.element_buttons
								div.element_button#report
									img(src = 'resources/icons/report.png')
								div.element_button#block
									img(src = 'resources/icons/block.png')
								div.element_button
									img(src = 'resources/icons/chat.png')
								div.element_button
									img(src = 'resources/icons/favorite_pink.png')
			div.subtitle
				p.subtitle Location
			div.element#carte
		include footer
